<a href="https://colab.research.google.com/github/siddhantdeore/InnomaticLabHackathon/blob/main/Task_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
sentence = input("Enter sentence: ")

# split sentence into words
words = sentence.split()

# convert list to set to get unique words
unique_words = set(words)

# output
print("Unique words count:", len(unique_words))
print("Unique words:", unique_words)

Enter sentence: python is easy and python is powerful
Unique words count: 5
Unique words: {'and', 'python', 'easy', 'powerful', 'is'}

In [2]:
# Highest Salary from Employee Data

employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

# find employee with highest salary
highest_employee = max(employees, key=employees.get)
highest_salary = employees[highest_employee]

print("Highest Salary:", highest_employee, "-", highest_salary)

Highest Salary: Ravi - 75000

In [3]:
# Find Maximum and Minimum Values

numbers = [45, 22, 89, 10, 66]

# initialize
max_val = numbers[0]
min_val = numbers[0]

# loop through list
for num in numbers:
    if num > max_val:
        max_val = num
    if num < min_val:
        min_val = num

print("List:", numbers)
print("Max:", max_val)
print("Min:", min_val)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

In [4]:
# Count Products Above a Price Threshold

prices = [450, 1200, 899, 1500, 300]

count = 0

for price in prices:
    if price > 1000:
        count += 1

print("Products above 1000:", count)

Products above 1000: 2

In [5]:
# Calculate Attendance Percentage

attendance = ["P", "P", "A", "P", "P"]

present_count = 0

for day in attendance:
    if day == "P":
        present_count += 1

total_days = len(attendance)
percentage = (present_count / total_days) * 100

print("Attendance Percentage:", percentage)

Attendance Percentage: 80.0

In [6]:
# Remove Duplicate Phone Numbers

phone_numbers = [9876543210, 9123456789, 9876543210]

# convert list to set to remove duplicates
unique_numbers = set(phone_numbers)

print("Unique phone numbers:", unique_numbers)

Unique phone numbers: {9876543210, 9123456789}

In [7]:
# Count Character Frequency

text = "python"

char_count = {}

for ch in text:
    if ch in char_count:
        char_count[ch] += 1
    else:
        char_count[ch] = 1

print(char_count)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [8]:
# Convert List to Tuple

numbers = [10, 20, 30]

result = tuple(numbers)

print("Tuple:", result)

Tuple: (10, 20, 30)

In [9]:
# Check if a Key Exists in a Dictionary

employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

key_to_check = "Ravi"

if key_to_check in employees:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

In [10]:
# Calculate Average Marks

marks = [70, 75, 80, 65]

total = sum(marks)
average = total / len(marks)

print("Average Marks:", average)

Average Marks: 72.5